<a href="https://colab.research.google.com/github/yunju-m/DAP/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project
### 전국 범죄 발생의 현황

In [9]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

# Load DataSet
데이터 불러오기

In [13]:
data = pd.read_csv('https://raw.githubusercontent.com/yunju-m/DAP/main/Regional_crime_statistic.csv', encoding='cp949')
data.head()

  범죄대분류  범죄중분류   서울   부산   대구   인천  ...  경남 창원  경남 통영  제주 서귀포  제주 제주  기타도시  도시이외
0  강력범죄   살인기수   67   20   13   17  ...      7      2       0     11     7    30
1  강력범죄  살인미수등   96   41   23   34  ...     13      2       1     16     4    44
2  강력범죄     강도  274  161   60  103  ...     26      3       4     29     4    65
3  강력범죄     강간  969  383  216  304  ...     85     11      14     64    18   328
4  강력범죄   유사강간  118   24   21   35  ...      8      1       1     12     0    33

[5 rows x 90 columns]

Warning: Total number of columns (90) exceeds max_columns (20) limiting to first (20) columns.